# Editor backups
*~

# Retry files produced by failed Ansible runs
*.retry

# Vagrant's hidden folder & logs
.vagrant
*.log

# Vault password
dev-vault-pw

# Local-dev-only passwords
group_vars/dev/vault.yml
