# Configuration for Functional Curation celery daemon.
# The settings in this file may well vary between installations (contrast celeryconfig.py).

# (Number of) Worker nodes to start
CELERYD_NODES={{ celery_workers }}

# Absolute or relative path to the 'celery' command:
CELERY_BIN="{{ celery_virtualenv }}/bin/celery"

# Celery application
CELERY_APP="fcws.tasks:app"

# Extra command-line arguments to the workers
CELERYD_OPTS="--concurrency={{ celery_worker_concurrency }} -l info -Ofair --statedb={{ celery_state_dir }}/%n.state \
        {% if celery_workers|int > 1 %}-Q:1 default,admin -Q admin{% else %}-Q default,admin{% endif %}"
# Note that the default queue is set to 'default' in celeryconfig.py, and admin users use 'admin' (see fcws/__init__.py).

# - %n will be replaced with the first part of the nodename.
# - %I will be replaced with the current child process index
#   and is important when using the prefork pool to avoid race conditions.
CELERYD_LOG_FILE="{{ celery_log_dir }}/%n%I.log"
CELERYD_PID_FILE="{{ celery_pid_dir }}/%n.pid"
CELERYD_LOG_LEVEL="INFO"
