{
    "password": "{{ fc_webservice_password }}",
    "chaste_root": "{{ chaste_root }}",
    "exe_path": "{{ chaste_fc_exe }}",
    "fitting_path": "{{ fitting_exe }}",
    "fitting_virtualenv": "{{ fc_virtualenv }}",
    "syntax_check_path": "{{ chaste_syntax_exe }}",
    "temp_dir": "/tmp/",
    "temp_file_prefix": "fc_tmp_",
    "debug_log_file_prefix": "fc_log_",
    "environment": {
        "comment": "Environment variables used when running the backend executable; other settings are inherited from the webserver environment.",
        "LD_LIBRARY_PATH": "{{ chaste_ld_library_path }}",
        "CHASTE_ROOT": "{{ chaste_root }}",
        "FC_ROOT": "{{ fc_root }}",
        "AD_ROOT": "{{ fitting_prototype_root }}",
        "CHASTE_TEST_OUTPUT": "/tmp/fc_webservice_testoutput",
        "USER": "{{ celery_user }}",
        "GROUP": "{{ user_meta[celery_user].group }}",
        "HOME": "{{ user_meta[celery_user].home }}"
    }
}
