# Django configuration for deployed Web Lab servers

import copy

from .base import *  # noqa


# What hostname we're allowed to serve
ALLOWED_HOSTS = (
    '{{ webserver_fqdn }}',
)

# Database settings
DATABASES['default'] = {
    'ENGINE': 'django.db.backends.postgresql_psycopg2',
    'NAME': '{{ django_db_name }}',
    'USER': '{{ django_db_user }}',
    'PASSWORD': '{{ django_db_pass }}',
    'HOST': '127.0.0.1',
    'PORT': 5432,
}

# Where to deploy static files
STATIC_ROOT = '{{ django_staticfiles_path }}'

# Use forwarded headers for anything that requires a hostname.
USE_X_FORWARDED_HOST = True

# Logging settings
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'stream': sys.stdout,
            'formatter': 'verbose',
        },
        'console_err': {
            'level': 'WARNING',
            'class': 'logging.StreamHandler',
            'stream': sys.stderr,
            'formatter': 'verbose',
        },
        'syslog': {
            'level': 'DEBUG',
            'class': 'logging.handlers.SysLogHandler',
            'facility': 'user',
            'address': '/dev/log',
            'formatter': 'verbose',
        },
    },
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(name)s: %(message)s',
        },
        'simple': {
            'format': '%(levelname)s %(message)s',
        },
    },
    'loggers': {
        # Root logger
        '': {
            'handlers': ['console', 'syslog'],
            'disabled': False,
        }
    }
}

local_logger_conf = {
    'handlers': ['console', 'syslog'],
    'level': 'DEBUG',
}
LOGGING['loggers'] = {
    app.split('.')[0]: copy.deepcopy(local_logger_conf)
    for app in LOCAL_APPS
}

# Send error emails here
ADMINS = (
  {% for email in django_admin_emails %}
    '{{ email }}',
  {% endfor %}
)

# How to send emails
EMAIL_HOST = '{{ email_smtp_host }}'
EMAIL_PORT = {{ email_smtp_port }}
EMAIL_HOST_USER = '{{ email_smtp_user }}'
EMAIL_HOST_PASSWORD = '{{ email_smtp_password }}'
EMAIL_USE_TLS = {{ email_use_tls }}
EMAIL_USE_SSL = {{ email_use_ssl }}
