# Django secrets.py file for {{ inventory }}

SECRET_KEY = '{{ django_secret_key }}'

# Google OAuth2 - see http://code.google.com/apis/accounts/docs/OAuth2.html#Registering
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = '{{ django_google_oauth_key }}'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = '{{ django_google_oauth_secret }}'

# GitHub - see https://github.com/settings/applications/new
SOCIAL_AUTH_GITHUB_KEY = '{{ django_github_key }}'
SOCIAL_AUTH_GITHUB_SECRET = '{{ django_github_key }}'
